table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: none;
}

th, td {
    padding: 15px;
}

.nested-list {
    padding-right: 42px;
}

.delete-icon .pi-times-circle{
    vertical-align: bottom;
}

.pi{
    font-size: 1em;
}

body .ui-table .ui-table-tbody > tr:nth-child(even) {
    background-color: #ffffff;
}

body .ui-table .ui-table-tbody > tr > td:last-child {
    border: none;
}

h3 {
    margin-bottom: 10px;
}