/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: aleck;
    src: url(assets/fonts/ATTAleckSans_Rg.ttf) format("truetype");
}

body {
    font-family: 'aleck';
}